:root {
    --ff-poppins: "Poppins", sans-serif;

    --fs-sm: 0.8125rem;
    --fs-md: 1rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 2.25rem;

    --fw-extralight: 200;
    --fw-regular: 400;
    --fw-semibold: 600;

    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);

    --clr-very-dark-blue: hsl(234, 12%, 34%);
    --clr-grayish-blue: hsl(229, 6%, 66%);
    --clr-very-light-gray: hsl(0, 0%, 98%);
    --clr-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 4rem;
    font-family: var(--ff-poppins);
    background-color: var(--clr-very-light-gray);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 544px;
    gap: 1.125rem;
    margin-top: 4rem;
}

header h1 {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-3xl);
    font-weight: var(--fw-extralight);
    color: var(--clr-very-dark-blue);
    line-height: 1.35;
}

header h1 span {
    font-weight: var(--fw-semibold);
}

header p {
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);
    color: var(--clr-grayish-blue);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 0 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 352px;
    max-height: fit-content;
    padding: 1.75rem 2rem 2rem;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem .25rem rgba(0, 0, 0, 0.1);
}

.card:nth-of-type(1) {
    grid-area: 2 / 1 / 4 / 2;
    border-top: .25rem solid var(--clr-cyan);
}

.card:nth-of-type(2) {
    grid-area: 1 / 2 / 3 / 3;
    border-top: .25rem solid var(--clr-red);
}

.card:nth-of-type(3) {
    grid-area: 3 / 2 / 5 / 3;
    border-top: .25rem solid var(--clr-orange);
}

.card:nth-of-type(4) {
    grid-area: 2 / 3 / 4 / 4;
    border-top: .25rem solid var(--clr-blue);
}

h2 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-semibold);
    color: var(--clr-very-dark-blue);
}

.card p {
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    color: var(--clr-grayish-blue);
    line-height: 1.75;
}

.card img {
    align-self: flex-end;
    margin-top: 2rem;
    width: fit-content;
    object-fit: contain;
}

@media only screen and (width <=1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .card:nth-of-type(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card:nth-of-type(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .card:nth-of-type(3) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card:nth-of-type(4) {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media only screen and (width <=768px) {
    body {
        padding: 2.75rem 0;
    }

    header {
        margin-top: 0;
        padding: 0 1rem;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .card {
        min-width: 312px;
    }

    .card:nth-of-type(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card:nth-of-type(3) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .card:nth-of-type(4) {
        grid-area: 4 / 1 / 5 / 2;
    }
}

@media only screen and (width <=480px) {
    header h1 {
        font-size: var(--fs-2xl);
        line-height: 1.5;
    }

    header p {
        letter-spacing: -0.0234rem;
    }
}